* {
	margin: 0;
	
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: whitesmoke;
}

body {background-image: url(bg.jpg);}
.bg{margin-top: 10%;margin-left: 5%;padding-bottom: 10%;}
h1{margin-left:20% ;font-style: italic;font-size: 100px;}
.subhead{font-size: 40px;
	background-color: red;width: 80vw;font-style: italic;}
.warn{font-size: 20px;background-color: gray;margin-left: 40%;
		font-style: italic;}
h2{background-color: green;width: 80vw;font-size: 40px;}
.contact{font-style: italic;
	font-size: 40px;padding: 10px;width: 600px;display: flex;justify-content: space-between;}
#whatsapp{background-color: red;}
#instagram{background-color: blue;}
#feedback{background-color: black;color: red;}
